<div class="container">
  <div class="col-md-12 col-lg-12" style="text-align: center; margin: 10px">
    <h1>Chi tiết cuốn sách</h1>
  </div>
  <div>
    <table class="table table">
      <tr>
        <th style="width: 120px">Tên sách: </th>
        <td>{{books.title}}</td>
      </tr>
      <tr>
        <th>Tác giả: </th>
        <td>{{books.author}}</td>
      </tr>
      <tr>
        <th>Mô tả: </th>
        <td>{{books.description}}</td>
      </tr>
    </table>
    <button class="btn btn-danger" type="button" routerLink="">Thoát</button>
  </div>
</div>
